/* label styling */
.dropdown label {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown label:hover {
  background: var(--neutLighter);
}

.dropdown label .icon {
  transition: 0.2s;
}

.dropdown label.open .icon {
  transform: rotate(180deg);
}

/* ul styling */

.dropdown .list-wrapper {
  opacity: 0;
  overflow: hidden;
  transition: height 0.2s, opacity 0.2s;
}

.dropdown label.open ~ .list-wrapper {
  opacity: 1;
}

.dropdown li {
  padding: 0.5rem;
}

.dropdown li:hover {
  background-color: var(--neutLighter);
}

.dropdown a{
  text-decoration: none;
  color: var(--text);
}

.sub-category {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  height: 32px;
  width: 32px;
  padding: 0.25rem;
}

.favorite-icon {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.favorite-icon:hover {
  cursor: pointer;
  background-color: #e2e7e9;
  border-radius: 50%;
  fill: #FDB0C0;
}

.favorite-icon:hover .favorite-icon-outline {
  stroke: #FDB0C0;
}