.post.preview header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post.preview .timestamp::before {
  content: "• ";
}

.post.preview:hover {
  background-color: var(--neutLighter);
}
