/* Styling for profilepage goes here */

.userInfo{
    display: flex;
    align-items: center;
    padding-top: 2rem; 
    justify-content: space-between;
}
.userInfo > div{
    display:flex;
    align-items: center;
}

.userInfo > div > h2{
    margin-left: 1rem;
}

.delAccountBtn{
    padding: 0.8rem;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    color: red;
}
.userInteractionsOverview{
    display: flex;
    width: 200px; 
    margin-top: 2rem;
}

.userInteractionsOverview > a{
    text-decoration: none;
    color: #0F1A1C;
    padding: 0.7rem;
    border-radius: 30px;
    font-size: 14px;
}


.userInteractionsOverview > a:hover{
    text-decoration: underline;
   
}

.addGreyBGColor{
    background-color: #D2DADD;
    text-decoration: underline;
    
}
