/* Styling for profilepage goes here */

.user-info{
    display: flex;
    align-items: center;
    padding-top: 2rem; 
    justify-content: space-between;
}
.user-info > div{
    display:flex;
    align-items: center;
}

.user-info > div > h2{
    margin-left: 1rem;
}
.comment-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-title{
 margin-bottom: 0.5rem;   
}
.delete-btn{
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  cursor: pointer;
}
.del-account-btn{
    padding: 0.8rem;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    color: red;
}

.user-interactions-overview{
    display: flex;
    width: 200px; 
    margin-top: 2rem;
}

.user-interactions-overview > a{
    text-decoration: none;
    color: #0F1A1C;
    padding: 0.7rem;
    border-radius: 30px;
    font-size: 14px;
}


.user-interactions-overview > a:hover{
    text-decoration: underline;
   
}

.add-grey-bg-color{
    background-color: #D2DADD;
    text-decoration: underline;
    
}

.title-el::before{
    content: "•";
    margin-right: 0.5rem;
   
}