/* Styling for profilepage goes here */

.userInfoItem{
    display: flex;
    align-items: center;
    padding-top: 2rem; 
    flex-direction: row-reverse;
    justify-content: flex-end; 
}

.userInfoItem > h2{
    margin-left: 1rem;
}

.userInteractionsOverview{
    display: flex;
    justify-content: space-between; 
    width: 256px; 
    margin-top: 2rem;
}

.userInteractionsOverview > a{
    text-decoration: none;
    color: #0F1A1C;
    padding: 0.7rem;
    border-radius: 30px;
    font-size: 14px;
}


.userInteractionsOverview > a:hover{
    text-decoration: underline;
   
}

.addGreyBGColor{
    background-color: #D2DADD;
    text-decoration: underline;
    
}
